<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理-登录页面</title>
</head>
<body>
<div><span th:text="${msg}"></span></div>
<form th:action="@{/user/login}" th:method="post">
    <label for="username">用户名：</label>
    <input id="username" type="text" name="username" placeholder="请输入用户名">
    <label for="password">密 码：</label>
    <input id="password" type="password" name="password" placeholder="请输入密码">
    <button type="submit">登 录</button>
    <!--<input type="submit" value="登 录">-->
</form>

</body>
</html>