<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--模糊查询-->
<form id="queryUserName" class="bs-example bs-example-form" role="form">
    <div class="input-group">
        <span class="input-group-addon">用户名</span>
        <input type="text" id="number1" name="number" class="form-control">
    </div>
    <!--    查询按钮-->
    <button class="btn btn-info" type="button" onclick="queryUserName() ">查询</button>
    <!-- 添加按钮-->
    <button type="button" onclick="add(user[i].uid ,user[i].number ,user[i].password ,user[i].nickname,user[i].realName ,user[i].gender, user[i].phone , user[i].age , user[i].birthday , user[i].createTime ,user[i].updateTime , user[i].orderTime )"
            class="btn btn-success" data-toggle="modal" data-target="#addModal">添加</button>
</form>
<table class="table table-hover">
    <thead>
    <th>ID</th>
    <th>疫苗编号</th>
    <th>疫苗名称</th>
    <th>疫苗类别</th>
    <th>生产时间</th>
    <th>有效期</th>
    </thead>
    <tbody id="info">

    </tbody>
</table>
<ul class="pagination">
    <li><button onclick="shangyiye()" class="btn btn-info">&laquo;</button></li>
    <div class="pagination" id="pagination">

    </div>
    <li><button onclick="xiayiye()" class="btn btn-info">&raquo;</button></li>
</ul>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改用户</h4>
            </div>
            <div class="modal-body">
                <form id="update">
                    <input type="hidden" name="vid" id="vid">
                    <div class="input-group">
                        <span class="input-group-addon">疫苗编号</span>
                        <input type="text" id="vno" name="vno" class="form-control" >
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">疫苗名称</span>
                        <input type="text" id="vname" name="vname" class="form-control" >
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">疫苗类别</span>
                        <input type="text" id="ssex" name="ssex" class="form-control" >
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">生产日期</span>
                        <input type="text" id="proTime" name="proTime" class="form-control" >
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">有效期</span>
                        <input type="text" id="exp" name="exp" class="form-control" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="updateVaccine()" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 删除模态框（Modal） -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <input type="hidden" id="delID">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">确认框</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label">确定要删除联系人？</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary" onclick="del()">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加模态框（Modal） -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form id="add">
                    <div class="input-group">
                        <span class="input-group-addon">ID</span>
                        <input type="text" id="uid1" name="uid" class="form-control">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">身份证号码</span>
                        <input type="text" id="number2" name="number" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">密  码</span>
                        <input type="text" id="password1" name="password" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">昵称</span>
                        <input type="text" id="nickname1" name="nickname" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">真实姓名</span>
                        <input type="text" id="realName1" name="realName" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">性别</span>
                        <input type="text" id="gender1" name="gender" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">手机号</span>
                        <input type="text" id="phone1" name="phone" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">年龄</span>
                        <input type="text" id="age1" name="age" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">出生日期</span>
                        <input type="text" id="birthday1" name="birthday" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">创建日期</span>
                        <input type="text" id="createTime1" name="createTime" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">更新日期</span>
                        <input type="text" id="updateTime1" name="updateTime" class="form-control">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">预约时间</span>
                        <input type="text" id="orderTime1" name="orderTime" class="form-control">
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" onclick="addUser()" class="btn btn-primary">保存添加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $(function () {
        queryVaccine(1,2)
    });
    var current1 = 1;
    var pages1 = 0;
    function queryVaccine(current,size) {
        $.ajax({
            type: "post",
            url: "/vaccine/selectVaccineAll",
            data: {current: current, size: size},
            dataType: "json",
            success: function (data) {
                console.log(data);
                current1 = data.current;
                $("#info").empty();
                var vaccine = data.records;
                //总页数
                var pages = data.pages;
                pages1 = data.pages;
                var str ;
                for (i in vaccine) {
                    str = "<tr>" +
                        "<td>" + vaccine[i].vid + "</td>" +
                        "<td>" + vaccine[i].vno + "</td>" +
                        "<td>" + vaccine[i].vname + "</td>" +
                        "<td>" + vaccine[i].ssex + "</td>" +
                        "<td>" + vaccine[i].proTime + "</td>" +
                        "<td>" + vaccine[i].exp + "</td>" +
                        "<td><button onclick=" +
                        "'update(" + "" +
                        "\"" + vaccine[i].vid + "\",\"" + vaccine[i].vno + "\",\"" + vaccine[i].vname + "\",\"" + vaccine[i].ssex + "\",\"" + vaccine[i].proTime + "\",\"" + vaccine[i].exp + "\")' class=\"btn btn-warning\" data-toggle=\"modal\" data-target=\"#myModal\">修改</button></td>" +
                        "<td><button type='button'  data-toggle=\"modal\" data-target=\"#exampleModal\" class=\"btn btn-danger\"  onclick='delID(\""+vaccine[i].id+"\")'>删除</button></td>" +
                        "</tr>";
                    $("#info").append(str);
                }
                $("#pagination").empty();
                var li ;
                for (let i = 1; i <= pages; i++) {
                    li = "<li><button onclick='queryVaccine(\""+i+"\",2)' class=\"btn btn-info\">"+i+"</button></li>";
                    $("#pagination").append(li);
                }
            }
        });
    }
    function shangyiye() {
        console.log(current1 + "---------------");
        if (current1 <= 1) {
            current1 = 1;
        } else {
            current1 = current1 - 1;
        }
        queryVaccine(current1, 2);
    }

    function xiayiye() {
        if (current1 >= pages1){
            current1 = pages1;
        }else {
            current1 = current1+1;
        }
        queryVaccine(current1,2);
    }
    function update(vid, vno, vname,ssex,proTime,exp) {
        $("#vid").val(vid);
        $("#vno").val(vno);
        $("#vname").val(vname);
        $("#ssex").val(ssex);
        $("#proTime").val(proTime);
        $("#exp").val(exp);
    }

    function updateVaccine() {
        $.ajax({
            type: "post",
            url: "/vaccine/updateUser",
            data: $("#update").serialize(),
            dataType: "json",
            success: function (data) {
                if (data >= 1) {
                    alert("修改成功");
                    window.location.href = "/queryVaccine";
                }
            }
        });
    }

    function delID(uid) {
        $("#delID").val(uid);
    }
    function del() {
        $.ajax({
            type: "post",
            url: "/user/deleteUser",
            data:{uid:$("#delID").val()},
            dataType:"json",
            success: function (data) {
                if (data>0){
                    window.location.href = "/queryUser";
                }
            }
        });
    }
</script>
</body>
</html>