<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table table-hover">
    <thead>
    <th>ID</th>
    <th>疫苗编号</th>
    <th>疫苗名称</th>
    <th>疫苗类别</th>
    <th>生产时间</th>
    <th>有效期</th>
    </thead>
    <tbody id="info">

    </tbody>
</table>
<ul class="pagination">
    <li><button onclick="shangyiye()" class="btn btn-info">&laquo;</button></li>
    <div class="pagination" id="pagination">

    </div>
    <li><button onclick="xiayiye()" class="btn btn-info">&raquo;</button></li>
</ul>
<script>
    $(function () {
        queryVaccine(1,2)
    });
    var current1 = 1;
    var pages1 = 0;
    function queryVaccine(current,size) {
        $.ajax({
            type: "post",
            url: "/vaccine/selectVaccineAll",
            data: {current: current, size: size},
            dataType: "json",
            success: function (data) {
                console.log(data);
                current1 = data.current;
                $("#info").empty();
                var vaccine = data.records;
                //总页数
                var pages = data.pages;
                pages1 = data.pages;
                var str ;
                for (i in vaccine) {
                    str = "<tr>" +
                        "<td>" + vaccine[i].vid + "</td>" +
                        "<td>" + vaccine[i].vno + "</td>" +
                        "<td>" + vaccine[i].vname + "</td>" +
                        "<td>" + vaccine[i].ssex + "</td>" +
                        "<td>" + vaccine[i].proTime + "</td>" +
                        "<td>" + vaccine[i].exp + "</td>" +
                        "</tr>";
                    $("#info").append(str);
                }
                $("#pagination").empty();
                var li ;
                for (let i = 1; i <= pages; i++) {
                    li = "<li><button onclick='queryVaccine(\""+i+"\",2)' class=\"btn btn-info\">"+i+"</button></li>";
                    $("#pagination").append(li);
                }
            }
        });
    }
    function shangyiye() {
        console.log(current1 + "---------------");
        if (current1 <= 1) {
            current1 = 1;
        } else {
            current1 = current1 - 1;
        }
        queryVaccine(current1, 2);
    }

    function xiayiye() {
        if (current1 >= pages1){
            current1 = pages1;
        }else {
            current1 = current1+1;
        }
        queryVaccine(current1,2);
    }
</script>
</body>
</html>