<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${msg}"></span>
<div>
    <table>
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>姓名</th>
            <th>身份证号码</th>
            <th>性别</th>
            <th>年龄</th>
        </tr>
        <tr th:each="user,stat : ${users}">
            <td th:text="${stat.count}"></td>
            <td th:text="${user.uid}"></td>
            <td th:text="${user.realName}"></td>
            <td th:text="${user.number}"></td>
            <td th:switch="${user.gender}">
                <span th:case="0">保密</span>
                <span th:case="1">男</span>
                <span th:case="2">女</span>
            </td>
            <td th:text="${user.age}"></td>
        </tr>
    </table>
</div>
</body>
</html>