<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zut.vacc.mapper.UserMapper">
    <update id="updateUser" parameterType="cn.edu.zut.vacc.po.User">
       update `user` u set u.number =#{number},
                           u.password=#{password},
                           u.nickname=#{nickname},
                           u.real_name=#{realName},
                           u.gender=#{gender},
                           u.phone=#{phone},
                           u.age=#{age},
                           u.birthday=#{birthday},
                           u.create_time=#{createTime},
                           u.update_time=#{updateTime},
                           u.order_time=#{orderTime}
       where uid=#{uid}
    </update>


    <select id="listAll" resultType="cn.edu.zut.vacc.po.User">
        select u.number,
               u.real_name,
               u.order_time,
               v.vname,
               uv.inoculation_time
        from `user` u,
             `vaccine` v,
             `user_vaccine` uv
        where u.uid = uv.uid
          and v.vid = uv.vid
    </select>
    <select id="login" resultType="cn.edu.zut.vacc.po.User">
        select u.uid       as id,
               u.number    as number,
               u.password  as password,
               u.real_name as name,
               u.nickname,
               u.gender,
               u.age
        from `user` u
        where u.number = #{username} limit 1
    </select>
    <select id="selectUserAll" resultType="cn.edu.zut.vacc.po.User">
        select * from user
    </select>
</mapper>
